<footer>
    <p class="text-center text-muted">
        Made by Daniel Nogueira
    </p>
    <p>Página: <%= typeof pagina != 'undefined' ? pagina: 'Home' %></p> 
    <!-- se o objeto pagina for diferente de indefinido, entao o objeto pagina recebera 'home'
        desse modo, nao precisamos passar nada do objeto 'pagina' no index.ejs -->
</footer>