<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EJS</a>

            <li class="navbar-nav mr-auto">
                <a href="/">Home</a> 
           </li>
   
           <li class="navbar-nav mr-auto">
                <a href='/about'>About</a>
           </li>
    </nav>
</header>
