<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header'); %> 

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Brincando com JS, node e ejs</p>

        </div>
    </main>
</body>

<%- include('../partials/footer', {pagina: 'About'}); %>


</html>